DROP TABLE [ENVIRONMENTS]
GO
DROP TABLE [PROJECTS]
GO
DROP TABLE [PROJECTATTR]
GO
DROP TABLE [ENVIRONMENTSATTR]
GO
DROP TABLE [CONNECTIONS]
GO
DROP TABLE [CONNECTIONSATTR]
GO
DROP TABLE [DESCRIPTIONS]
GO
DROP TABLE [DESCRIPTIONSATTR]
GO
DROP TABLE [DESCRIPTIONFIELDS]
GO
DROP TABLE [DESCRIPTIONSELECT]
GO
DROP TABLE [DESCRIPTSELFIELDS]
GO
DROP TABLE [SYSTEMS]
GO
DROP TABLE [SYSTEMSATTR]
GO
DROP TABLE [ENGINES]
GO
DROP TABLE [ENGINESATTR]
GO
DROP TABLE [DATASTORES]
GO
DROP TABLE [DATASTORESATTR]
GO
DROP TABLE [DSSELECTIONS]
GO
DROP TABLE [DSSELFIELDS]
GO
DROP TABLE [TASKDS]
GO
DROP TABLE [TASKMAP]
GO
DROP TABLE [TASKS]
GO
DROP TABLE [VARIABLES]
GO
DROP TABLE [VARIABLESATTR]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ENVIRONMENTS](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTDESCRIPTION] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATED_TIMESTAMP] [datetime] NULL,
	[UPDATED_TIMESTAMP] [datetime] NULL,
	[CREATED_USER_ID] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UPDATED_USER_ID] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJECTS](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PROJECTDESCRIPTION] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SECURITYATTR] [varchar](24) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATED_TIMESTAMP] [datetime] NULL,
	[UPDATED_TIMESTAMP] [datetime] NULL,
	[CREATED_USER_ID] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UPDATED_USER_ID] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJECTATTR](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PROJECTATTRB] [varchar](24) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PROJECTATTRBVALUE] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ENVIRONMENTSATTR](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTATTRB] [varchar](24) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTATTRBVALUE] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CONNECTIONS](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CONNECTIONNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CONNECTIONDESCRIPTION] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATED_TIMESTAMP] [datetime] NULL,
	[UPDATED_TIMESTAMP] [datetime] NULL,
	[CREATED_USER_ID] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UPDATED_USER_ID] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CONNECTIONSATTR](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CONNECTIONNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CONNECTIONATTRB] [varchar](24) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CONNECTIONATTRBVALUE] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DESCRIPTIONS](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DESCRIPTIONNAME] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DESCRIPTIONTYPE] [int] NULL,
	[DESCRIPTIONDESCRIPTION] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATED_TIMESTAMP] [datetime] NULL,
	[UPDATED_TIMESTAMP] [datetime] NULL,
	[CREATED_USER_ID] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UPDATED_USER_ID] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DESCRIPTIONSATTR](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DESCRIPTIONNAME] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DESCRIPTIONATTRB] [varchar](24) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DESCRIPTIONATTRBVALUE] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DESCRIPTIONFIELDS](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DESCRIPTIONNAME] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[FIELDNAME] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PARENTNAME] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SEQNO] [int] NULL,
	[DESCFIELDDESCRIPTION] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NCHILDREN] [int] NULL,
	[NLEVEL] [int] NULL,
	[NTIMES] [int] NULL,
	[NOCCNO] [int] NULL,
	[DATATYPE] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NOFFSET] [int] NULL,
	[NLENGTH] [int] NULL,
	[NSCALE] [int] NULL,
	[CANNULL] [varchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ISKEY] [varchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ORGNAME] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DATEFORMAT] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LABEL] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[INITVAL] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RETYPE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[INVALID] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EXTTYPE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IDENTVAL] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FOREIGNKEY] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DESCRIPTIONSELECT](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DESCRIPTIONNAME] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SELECTIONNAME] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ISSYSTEMSEL] [int] NULL,
	[SELECTDESCRIPTION] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DESCRIPTSELFIELDS](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DESCRIPTIONNAME] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SELECTIONNAME] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[FIELDNAME] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SELECTFIELDDESCRIPTION] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SYSTEMS](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SYSTEMNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SYSTEMDESCRIPTION] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATED_TIMESTAMP] [datetime] NULL,
	[UPDATED_TIMESTAMP] [datetime] NULL,
	[CREATED_USER_ID] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UPDATED_USER_ID] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SYSTEMSATTR](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SYSTEMNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SYSTEMATTRB] [varchar](24) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SYSTEMATTRBVALUE] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ENGINES](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SYSTEMNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENGINENAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENGINEDESCRIPTION] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATED_TIMESTAMP] [datetime] NULL,
	[UPDATED_TIMESTAMP] [datetime] NULL,
	[CREATED_USER_ID] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UPDATED_USER_ID] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ENGINESATTR](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SYSTEMNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENGINENAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENGINEATTRB] [varchar](24) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENGINEATTRBVALUE] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DATASTORES](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SYSTEMNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENGINENAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DATASTORENAME] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DSDIRECTION] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DSTYPE] [int] NULL,
	[DATASTOREDESCRIPTION] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATED_TIMESTAMP] [datetime] NULL,
	[UPDATED_TIMESTAMP] [datetime] NULL,
	[CREATED_USER_ID] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UPDATED_USER_ID] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DATASTORESATTR](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SYSTEMNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENGINENAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DATASTORENAME] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DATASTOREATTRB] [varchar](24) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DATASTOREATTRBVALUE] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DSSELECTIONS](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SYSTEMNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENGINENAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DATASTORENAME] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SELECTIONNAME] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DESCRIPTIONNAME] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PARENT] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DSSELFIELDS](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SYSTEMNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENGINENAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DATASTORENAME] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DESCRIPTIONNAME] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SELECTIONNAME] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[FIELDNAME] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PARENTNAME] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SEQNO] [int] NULL,
	[DESCFIELDDESCRIPTION] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NCHILDREN] [int] NULL,
	[NLEVEL] [int] NULL,
	[NTIMES] [int] NULL,
	[NOCCNO] [int] NULL,
	[DATATYPE] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NOFFSET] [int] NULL,
	[NLENGTH] [int] NULL,
	[NSCALE] [int] NULL,
	[CANNULL] [varchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ISKEY] [varchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ORGNAME] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DATEFORMAT] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LABEL] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[INITVAL] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RETYPE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[INVALID] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EXTTYPE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IDENTVAL] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FOREIGNKEY] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TASKDS](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SYSTEMNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENGINENAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TASKNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DATASTORENAME] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TASKTYPE] [int] NULL,
	[DSDIRECTION] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TASKMAP](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SYSTEMNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENGINENAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TASKNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MAPPINGID] [bigint] NOT NULL,
	[TASKTYPE] [int] NULL,
	[MAPPINGDESC] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MAPPINGTARGET] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SOURCETYPE] [int] NULL,
	[TARGETTYPE] [int] NULL,
	[ISMAPPED] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MAPPINGSOURCEID] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MAPPINGTARGETID] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SOURCEPARENT] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TARGETPARENT] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SEQNO] [int] NULL,
	[SOURCEDATASTORE] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TARGETDATASTORE] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MAPPINGSOURCE] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TASKS](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SYSTEMNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENGINENAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TASKNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TASKTYPE] [int] NULL,
	[TASKSEQNO] [int] NULL,
	[TASKDESCRIPTION] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATED_TIMESTAMP] [datetime] NULL,
	[UPDATED_TIMESTAMP] [datetime] NULL,
	[CREATED_USER_ID] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UPDATED_USER_ID] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VARIABLES](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SYSTEMNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENGINENAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VARIABLENAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VARIABLEDESCRIPTION] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VARIABLESATTR](
	[PROJECTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENVIRONMENTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SYSTEMNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENGINENAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VARIABLENAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VARIABLEATTRB] [varchar](24) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VARIABLEATTRBVALUE] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
